@font-face { font-family: Cousine-Bold; src: url('../assets/font/Cousine-Bold.ttf'); }
@font-face { font-family: Cousine-Bold-Italic; src: url('../assets/font/Cousine-BoldItalic.ttf'); }
@font-face { font-family: Cousine-Italic; src: url('../assets/font/Cousine-Italic.ttf'); }
@font-face { font-family: Cousine-Regular; src: url('../assets/font/Cousine-Regular.ttf'); }

* {
	margin: 0;
}

html {
	background-color: #FFFAF5;
}

body {
	background-color: #FFFAF5;
}

header {
	padding-left: 10%;
	padding-right: 10%;
	background-color: #0D0A0A;
	color: #0D0A0A;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1, h2 ,p {
	font-family: Cousine-Regular;
	font-weight: normal;
	color: #FFFAF5;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

p {
	font-size: 20px;
}

li {
	list-style: none;
	margin-right: 45px;
}

textArea {
	font-family: Cousine-Regular;
	font-weight: normal;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFFAF5;
	font-size: 20px;
	background-color: #333333;

}

textArea::placeholder {
	color: #FFFAF5;
}

button {
	font-family: Cousine-Regular;
	font-weight: normal;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFFAF5;
	font-size: 20px;
	background-color: #333333;

}

.bold {
	font-family: Cousine-Bold;
}

.main-nav {
	display: flex;
	justify-items: start;
	align-items: center;
}

.main-title {
	margin-right: 75px;
}

.main-list {
	padding: 0px;
	display: flex;
	justify-items: start;
	align-items: center;
	margin-right: 110px;
}

.main-home .main-you .main-shop .main-cart {
}

.main-home::before {
	content: url('../assets/ico/home.png');
	margin-right: 10px;
}

.main-you::before {
	content: url('../assets/ico/you.png');
	margin-right: 10px;
}

.main-shop::before {
	content: url('../assets/ico/shop.png');
	margin-right: 10px;
}

.main-cart::before {
	content: url('../assets/ico/cart.png');
	margin-right: 10px;
}

.main-search {
	padding-left: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 40%;
	width: 380px;
	border: none;
}

.main-button {
	padding: 8px;
	height: 40%;
	border: none;
	margin-left: 25px;
}
