@font-face { font-family: Cousine-Bold; src: url('../assets/font/Cousine-Bold.ttf'); }
@font-face { font-family: Cousine-Bold-Italic; src: url('../assets/font/Cousine-BoldItalic.ttf'); }
@font-face { font-family: Cousine-Italic; src: url('../assets/font/Cousine-Italic.ttf'); }
@font-face { font-family: Cousine-Regular; src: url('../assets/font/Cousine-Regular.ttf'); }

* {
	margin: 0;
}

html {
	background-color: #FFFAF5;
}

body {
	background-color: #FFFAF5;
}

header {
	padding-left: 10%;
	padding-right: 10%;
	background-color: #0D0A0A;
	color: #0D0A0A;
	height: 100px;
}

h1, h2 ,p {
	font-family: Cousine-Regular;
	font-weight: normal;
	color: #FFFAF5;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

p {
	font-size: 20px;
}

li {
	list-style: none;
	margin-right: 45px;
}

textArea {
	width: 380px;
	font-family: Cousine-Regular;
	font-weight: normal;
	font-size: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	color: #FFFAF5;
	background-color: #333333;
}

textArea::placeholder {
	color: #FFFAF5;
}

button {
	font-family: Cousine-Regular;
	font-weight: normal;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFFAF5;
	font-size: 20px;
	background-color: #333333;

}


/* general styling*/
.flex-center {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

.bold {
	font-family: Cousine-Bold;
}

.important {
	text-decoration: underline;
	font-family: Cousine-Bold;
}

.font-small {
	font-size: 14px;
}

/* items*/
.check-small {
	appearance: unset;
	height: 15px;
	width: 15px;
	color: #FFFAF5;
	background-color: #333333;
}

/* etc margins*/
.title-end {
	margin-bottom: 30px;
}

.section-end {
	margin-bottom: 20px;
}

.normal-end {
	margin-bottom: 10px;
}

.left-end {
	margin-left: 25px;
}

.tag-end {
	margin-right: 10px;
}

.tag-end-left {
	margin-left: 10px;
}

.border-white {
	border: 1px solid #FFFAF5;
}

/* color palette*/
.blue {
	background-color: #193E54;
	color: #193E54;
}

.gray {
	background-color: #1C1C1C;
	color: #1C1C1C;
}

.white {
	background-color: #FFFAF5;
	color: #FFFAF5;
}

.black {
	background-color: #0D0A0A;
}


/* navigation bar and header*/
.main-nav {
	justify-items: start;
}

.main-title {
	margin-right: 75px;
}

.main-list {
	padding: 0px;
	justify-items: start;
	margin-right: 110px;
}

/* could use some animations here...*/
.main-home .main-you .main-shop .main-cart {
}

.main-home::before {
	content: url('../assets/ico/home.png');
	margin-right: 10px;
}

.main-you::before {
	content: url('../assets/ico/you.png');
	margin-right: 10px;
}

.main-shop::before {
	content: url('../assets/ico/shop.png');
	margin-right: 10px;
}

.main-cart::before {
	content: url('../assets/ico/cart.png');
	margin-right: 10px;
}

.main-search {
	padding-left: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 40%;
	border: none;
}

.main-button {
	padding: 8px;
	height: 40%;
	border: none;
}


/* first section landing page*/
.first-section-landing {
	width: 100%;
	display: flex;
}

.hero {
	width: 49%;
	margin-right: 2%;
}

.side-section {
	width: 49%;
	display: flex;
	flex-direction: column;
}

.side-section-landing {
	height: 48%;
	padding: 10%;
	padding-right: 15%;
}
